.container {
  padding: 8.5rem 0;
  color: white;
  background: black url('./countdown-background.png') no-repeat center top;
  background-size: cover;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #fff;
  i {
    font-style: normal;
    @include text-decor(3px);
  }
}

.helperText {
  margin-top: 5.5rem;
  font-size: 1.3rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1.5rem;
  margin: 6rem 0;
}

.col {
  position: relative;
  flex: 0 0 auto;
  padding: 0 0.5rem;
  min-width: 1px;
  display: flex;
  align-items: center;
  user-select: none;
}

.colValue {
  position: absolute;
  top: 0;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1px;
  min-height: 4rem;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 0;
  text-align: center;
  letter-spacing: -0.02em;
  span {
    display: inline-block;
  }
}

.colLabel {
  flex: 0 0 auto;
  position: relative;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  min-height: 4rem;
  margin-left: 134px;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: $colorPrimary;
  }
}

.cta {
  margin: 7rem 0 5rem;
  display: flex;
  justify-content: center;
}

.map {
  margin-top: 9rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 430px;
}

// .placemark {

// }

@include r($hd) {
  .colValue {
    min-height: 3.5rem;
    font-size: 5rem;
  }
  .colLabel {
    font-size: 1.6rem;
    min-height: 3.5rem;
  }
}

@include r($xl) {
  .container {
    padding: 6rem 0;
    background-size: contain;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 1.5rem;
    margin-top: 3rem;
  }

  .map {
    margin-top: 7rem;
  }
}

@include r($lg) {
  .container {
    padding: 4rem 0;
  }
  .grid {
    margin-bottom: 3rem;
  }
  .cta {
    margin-top: 4rem;
    margin-bottom: 0;
  }
  .helperText {
    margin-top: 3rem;
  }

  .map {
    margin-top: 5rem;
  }
}

@include r($md) {
  .container {
    padding: 2rem 0 0 0;
  }
  .colLabel {
    margin-left: 100px;
  }
  .map {
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 0;
  }
}

@include r($sm) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-top: 2rem;
  }

  .colValue {
    font-size: 4rem;
    min-height: 3rem;
  }
  .colLabel {
    margin-left: 80px;
    min-height: 3rem;
  }
}
