// FONTS
@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-Medium.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-Black.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-Black.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-MediumItalic.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-Book.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-Book.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-BlackItalic.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-BookItalic.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-BookItalic.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-Bold.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./../../assets/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
    url('./../../assets/fonts/CircularStd-BoldItalic.woff') format('woff'),
    url('./../../assets/fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
