.container {
  position: relative;
  padding: 6rem 0 8rem;
  background: black url('./assets/background.png') no-repeat top center;
  background-size: cover;
  color: white;
}

.wrapper {
  display: flex;
}

.title {
  max-width: 240px;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  i {
    text-decoration: underline;
    font-style: normal;
  }
}

.grid {
  max-width: 770px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.col {
  display: flex;
  align-items: center;
  background: #fcfcfc;
  border-radius: 0.5rem;
  padding: 2rem 2.6rem;
}

.colTitle {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $colorGray;
}

.colImage {
  flex: 0 0 130px;
  padding-right: 1rem;
  font-size: 0;
  img,
  svg {
    max-width: 100%;
  }
}
