.container {
  position: relative;
  padding: 3.6rem 0 6rem;
}

.title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  i {
    font-style: normal;
    @include text-decor(3px, $fontColor);
  }
}

.subtitle {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: $colorGray;
}

.grid {
  margin: 3.8rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 3rem 2.5rem 2.5rem;
}

.colTitle {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  @include text-decor(4px);
}

.colDescription {
  margin-top: auto;
  font-size: 1.1rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $colorGray;
}

@include r($xl) {
  .col {
    padding: 2rem 2rem;
  }
}

@include r($lg) {
  .grid {
    margin-top: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

@include r($md) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .container {
    padding: 3rem 0;
  }

  .colDescription {
    max-width: 460px;
  }
}
