.container {
  position: relative;
  background: #f1f1f1;
  padding: 5rem 0;
}

.title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #010101;
  strong {
    color: $colorPrimary;
  }
}

.video {
  position: relative;
  overflow: hidden;
  margin-top: 1.75rem;
  border-radius: 0.5rem;
}

.videoCaption {
  cursor: pointer;
  pointer-events: all;
  img {
    transition: transform 0.25s $ease;
  }
  &:hover {
    img {
      transform: scale(0.8);
    }
  }
}

.videoCaptionTitle {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

@include r($lg) {
  .videoCaption {
    img {
      max-width: 100px;
    }
  }

  .videoCaptionTitle {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

@include r($md) {
  .container {
    padding: 3rem 0;
  }
}

@include r($sm) {
  .video {
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 0;
  }
  .videoCaption {
    img {
      max-width: 60px;
    }
  }
  .videoCaptionTitle {
    margin-top: 1rem;
  }
}
