.container {
  position: relative;
  padding: 2.8rem 0 2.6rem;
}

.title {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  i {
    @include text-decor(3px, #000);
    font-style: normal;
  }
}

// VIDEOS
.features {
  margin: 2.5rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  // same for vides and uploads
}

.featureCol {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 3.2rem 2.7rem;
}

.featureTitle {
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  @include text-decor(3px, $fontColor);
}

.featureList {
  margin: 1.2rem 0 0;
  list-style: none;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 1px solid #cecece;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.025em;
    &:last-child {
      border-bottom: 0;
    }
    span {
      display: inline-block;
      padding-right: 0.5rem;
    }
    img {
      flex: 0 0 auto;
      margin-left: auto;
      user-select: none;
      pointer-events: none;
    }
  }
}

// VIDEOS
.videos {
  margin: 2.5rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  // same for vides and uploads
  &._uploads {
    margin-top: 1.8rem;
  }
}

.video {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 0.5rem;
}

// FACT
.fact {
  margin-top: 2.6rem;
  position: relative;
  background: #fff;
  border: 2px solid #bfbfbf;
  border-radius: 0.5rem;
  padding: 2.8rem 3.2rem;
}

.factLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 120%;

  /* identical to box height, or 22px */
  letter-spacing: -0.025em;
  color: #fff;
  background: $colorPrimary;
  border-radius: 0 0 10px 0;
}

.factContent {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.025em;
  i {
    font-style: normal;
    @include text-decor(3px);
  }
}

.cta {
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
}

@include r($xl) {
  .features {
    grid-gap: 1.5rem;
  }
  .featureCol {
    padding: 2rem 2rem;
  }

  .videos {
    margin-top: 1.5rem;
    grid-gap: 1.5rem;
  }
}

@include r($lg) {
  .featureTitle {
    font-size: 1.4rem;
  }
  .featureList {
    li {
      font-size: 1rem;
      img {
        max-width: 32px;
      }
    }
  }
}

@include r($md) {
  .features {
    grid-template-columns: 1fr;
  }

  .videos {
    grid-template-columns: 1fr;
  }

  .cta {
    margin-top: 2rem;
  }
}
