.container {
  position: relative;
  overflow: visible;
}

.grid {
  margin: 1rem 0 4.5rem;
  display: grid;
  place-items: center;
  grid-template-columns: 500px 1fr;
  grid-gap: 1.5rem;
}

.content {
  max-width: 500px;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $colorPrimary;
  i {
    color: $fontColor;
    font-style: normal;
    @include text-decor(4px, $fontColor);
  }
}

.description {
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: $colorGray;
}

.image {
  padding: 3rem 0 6rem;
  position: relative;
  transform: translateX(12%);
  margin-left: -20%;
  :global .parallax-inner {
    will-change: transform;
  }
  img {
    max-width: 100%;
  }
  figure {
    margin: 0;
  }
}

.imageBox {
  display: flex;
  padding-right: 4rem;
  justify-content: flex-end;
}

.imageRemote {
  position: absolute;
  top: -20%;
  right: -5%;
}

@include r($xl) {
  .grid {
    grid-template-columns: 400px 1fr;
  }
}

@include r($lg) {
  .grid {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }

  .content {
    order: 2;
    max-width: 420px;
  }

  .image {
    padding-bottom: 3rem;
    order: 1;
    margin-left: 0;
    transform: none;
    max-width: 460px;
  }

  .imageRemote {
    max-width: 220px;
    right: 0;
  }
}

@include r($md) {
  .grid {
    margin-bottom: 3rem;
  }
}

@include r(460) {
  .imageRemote {
    // top: 0;
    max-width: 150px;
  }
}
