.container {
  position: relative;
  padding: 3.7rem 0 2.6rem;
  background: #f4f4f4;
}

.grid {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  // same for vides and uploads
  &._uploads {
    margin-top: 1.8rem;
  }
}

.videoCaptionTitle {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
}

.videoCaption {
  cursor: pointer;
  pointer-events: all;

  img {
    width: 50px;
    transition: transform 0.25s $ease;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.col {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #f1f1f1;
  border-radius: 0.5rem;
  :global .btn {
    justify-content: space-between;
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
  }
}

.colTitle {
  padding: 0.8rem 1.8rem;
  background: white;
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: -0.025em;
  color: #010101;
}

.video {
  width: 100%;
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr 1fr;
    &._uploads {
      grid-template-columns: 1fr;
      .col {
        max-width: 420px;
        width: 100%;
      }
    }
  }
}

@include r($md) {
  .container {
    padding-top: 3rem;
  }
  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .col {
    max-width: 420px;
    width: 100%;
  }
}
