.container {
  padding: 4.5rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 340px auto;
  grid-gap: 1.5rem;
}

.image {
  padding-right: 20px;
  transform: translateX(-2rem);
  img,
  svg {
    max-width: 100%;
  }
}

.content {
  width: 100%;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 140%;
  letter-spacing: -0.025em;
}

.note {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.65rem;
  line-height: 140%;
  letter-spacing: -0.025em;
}

.cta {
  margin-top: -2rem;
  float: right;
}

@include r($xl) {
  .cta {
    margin-top: 0;
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .image {
    padding-right: 0;
    transform: translateX(0.5rem);
  }
  .content {
    text-align: center;
  }
  .cta {
    margin-top: 1.5rem;
    float: none;
  }
}

@include r($md) {
  .container {
    padding: 3rem 0;
  }

  .image {
    padding-right: 0;
    transform: scale(0.7) translateX(0.5rem);
    margin-bottom: -15%;
    transform-origin: center top;
    img,
    svg {
      max-width: 100%;
    }
  }
}
