.container {
  padding: 4.5rem 0 3.5rem;
  background: black;
  color: white;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  i {
    font-style: normal;
    @include text-decor();
  }
}

.subtitle {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: $colorPrimary;
}

.headLogo {
  img,
  svg {
    max-width: 100%;
  }
}

.grid {
  margin-top: 4.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1rem 2rem 0;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(white, 0.2);
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

.colTitle {
  align-self: flex-start;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
  color: #fff;
  @include text-decor(3px, $colorPrimary, 'short');
}

.colDescription {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 130%;
  color: #e4e7ec;
  max-width: 192px;
}

.colLink {
  margin-top: auto;
  display: inline-block;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding-right: 1.5rem;
  background: url('./../../../assets/icons/arrow-right.svg') no-repeat right 85%;
  background-size: 14px 14px;
  color: #fff;
  transition: color 0.25s $ease;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    right: 0;
    top: 50%;
  }
  u {
    font-style: normal;
    text-decoration: none;
    @include text-decor(3px, $colorPrimary, 'short');
  }
  &:hover {
    color: $colorPrimary;
  }
}

.cta {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .col {
    padding: 0 1rem 2rem 0;
    &::after {
      display: inline-block;
      content: ' ';
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
    }
    &:last-child {
      &::after {
        display: block;
      }
    }
  }
  .head {
    flex-wrap: wrap;
  }
  .headLeft,
  .headRight {
    flex: 0 0 50%;
    width: 50%;
    order: 2;
  }
  .headLeft {
    padding-right: 1rem;
  }
  .headRight {
    padding-left: 1rem;
  }
  .headLogo {
    margin-bottom: 2rem;
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
    order: 1;
    img {
      max-width: 260px;
    }
  }
}

@include r($md) {
  .container {
    padding: 3rem 0;
  }

  .headLeft {
    padding-right: 0.75rem;
  }
  .headRight {
    padding-left: 0.75rem;
  }

  .grid {
    margin-top: 2rem;
    grid-gap: 1.5rem;
  }

  .cta {
    margin-top: 3rem;
  }
}

@include r($sm) {
  .grid {
    grid-template-columns: 1fr;
  }
  .headLeft,
  .headRight {
    flex: 0 0 100%;
    width: 100%;
  }

  .headLogo {
    text-align: left;
    img {
      max-width: 210px;
    }
  }
  .headLeft {
    padding-right: 0;
  }
  .headRight {
    margin-top: 1.5rem;
    padding-left: 0;
  }
}
