.container {
  position: relative;
  padding: 2.4rem 0 5rem;
  background: #f4f4f4;
}

.title {
  display: inline-block;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  @include text-decor();
  font-style: normal;
  text-decoration-color: $colorPrimary;
}

.description {
  margin-top: 4rem;
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $colorGray;
  strong {
    color: $fontColor;
    @include text-decor(3px);
  }
}

.grid {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.colTitle {
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $fontColor;
  @include text-decor(3px, $colorPrimary, 'short');
}

.colMenu {
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
  li {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  a {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.8;
    color: #585753;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
}

.linkIcon {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: $colorPrimary;
  color: white;
  border-radius: 50%;
  :global .svg-icon {
    font-size: 0.7rem;
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include r($md) {
  .container {
    padding: 2.4rem 0 4rem;
  }

  .grid {
    margin-top: 2rem;
    grid-gap: 1.5rem;
  }
  .description {
    margin-top: 2rem;
  }
  .colMenu {
    margin-top: 1rem;
  }
}

@include r($sm) {
  .grid {
    grid-template-columns: 1fr;
  }
}
