.container {
  padding: 4rem 0 5rem;
}

.title {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $colorPrimary;
}

.box {
  margin-top: 2rem;
  position: relative;
  background: #f1f1f1;
  padding: 4rem 5rem;
  border-radius: 0.5rem;
}

.head {
  display: flex;
}

.headTitle {
  font-weight: 400;

  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: -0.025em;
}

.grid {
  margin-top: 2rem;
}

.section {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem 1.8rem;
}

.sectionGrid {
  width: calc(100% + 4rem);
  display: flex;
  margin: 1rem -2.5rem 1rem -1.5rem;
}

.sectionCol {
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 1px;
  min-height: 0;
  display: flex;
  padding-right: 50px;
  padding-left: 30px;
  align-items: center;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background: #bfbfbf;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

.sectionLabel {
  flex: 0 0 auto;
  margin-right: 1rem;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 120%;
  color: #515151;
  span {
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 120%;
    letter-spacing: -0.025em;
    color: #010101;
  }
}

.sectionContent {
  flex: 1 1 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sectionValue {
  margin-left: auto;
  font-size: 2rem;
  line-height: 120%;
  text-align: right;
  letter-spacing: -0.025em;
  color: $colorPrimary;
}

.sectionNote {
  flex: 0 0 auto;
  font-size: 0;
  color: #878787;
  :global .svg-icon {
    font-size: 1.2rem;
  }
  &:hover {
    color: $colorPrimary;
  }
}

.actions {
  margin: 2.4rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.actionsCol {
  position: relative;
  padding: 0 1rem;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1rem;
    width: 2px;
    background: #bfbfbf;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
  :global .btn {
    margin-top: 1.2rem;
    width: 100%;
    max-width: 365px;
  }
}

.actionLabel {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: #010101;
}

.fact {
  margin-top: 2.6rem;
  position: relative;
  background: #fff;
  border: 2px solid #bfbfbf;
  border-radius: 0.5rem;
  padding: 2.8rem 3.2rem;
}

.factLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 120%;

  /* identical to box height, or 22px */
  letter-spacing: -0.025em;
  color: #fff;
  background: $colorPrimary;
  border-radius: 0 0 10px 0;
}

.factContent {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.025em;
  i {
    font-style: normal;
    @include text-decor(3px);
  }
}
